<div class="container">
    <div class="row mt-5" style="text-align: center;">
        <h2 style="color: black; font-weight: bold; font-size: 2.5rem;">Contact</h2>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col">
            <h2 style="color: #0060df;"><span>Connect with me</span></h2>
            <p class="text-style">
                If you want to know more about me, my work, or if you would like to work together. I would love to hear from you
            </p>
        </div>
        <div class="col">
            <div class="row" style="text-align: end;">
                <h4 style="font-weight: bold;">Email</h4>
                <span class="text-style">oliverrosasg@gmail.com</span>
            </div>
            <div class="row mt-4" style="text-align: end;">
                <h4 style="font-weight: bold;">Social</h4>
                <ul>
                    <a href="https://github.com/rogs-lv"><img alt="" src="https://img.icons8.com/doodle/40/000000/github--v1.png"></a>
                    <a href="https://www.linkedin.com/in/oliverrosasgonz%C3%A1lez/" target="_blank" class="mr-5 cursor-pointer mt-8 hover:scale-125"><img alt="" src="https://img.icons8.com/doodle/40/000000/linkedin--v2.png"></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center">
        <p style="color: black;">© Oliver Rosas González | Software engineer | 2023</p>
    </div>
</div>