<div style="width: 100%">
    <div style="float:right; text-align: right;">
        <button class="btn btnFloat" (click)="onActivateProfile($event)" placement="top" ngbTooltip="Acerca de mi"><span style="color: white; font-size: 3em;" class="fas fa-user-circle"><i></i></span></button>
        <button class="btn btnFloat2" (click)="onActivateProject($event)" placement="top" ngbTooltip="Proyectos"><span style="color: white; font-size: 3em;" class="far fa-folder-open"><i></i></span></button>
    </div>
</div>
<router-outlet></router-outlet>