<div class="back-profile">
    <main class="home-style">
        <div style="width: 440px;">
            <div class="text-home" style="width: 100%;">
                <h1><span style="font-size: 3.6rem; line-height: 1;">Hi, I am Oliver</span></h1>
                <p style="font-size: 1.7rem;">
                    <span style="color: #0060df;">I am a Software engineer</span> I am currently looking for a new challenge with interest in cloud related topics.
                </p>
            </div>
            <div class="social">
                <a href="https://github.com/rogs-lv"><img alt="" src="https://img.icons8.com/doodle/40/000000/github--v1.png"></a>
                <a href="mailto:oliverrosasg@gmail.com" class="mr-5 cursor-pointer mt-8 hover:scale-125"><img alt="" src="https://img.icons8.com/doodle/40/000000/email--v1.png"></a>
                <a href="https://www.linkedin.com/in/oliverrosasgonz%C3%A1lez/" target="_blank" class="mr-5 cursor-pointer mt-8 hover:scale-125"><img alt="" src="https://img.icons8.com/doodle/40/000000/linkedin--v2.png"></a>
            </div>
        </div>
        <div style="width: 750px; margin-top: 2em">
            <img [src]="profileDev" style="width: 100%;" alt="">
        </div>
    </main>
</div>
<div class="container">
    <div class="row" style="text-align: center; margin-top: 9rem;">
        <h2 style="color: black; font-weight: bold; font-size: 2.5rem;">About me</h2>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h2 style="color: #0060df;"><span>A bit about me</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-justify text-style">
                Developer with more than 7 years of experience, from the requirements process to application deployment.
                Interested in new challenges that involve applying solutions using different languages, tools, or on-premises or cloud environments.
                Teamwork is one of the best activities for me, and I usually join the team quickly as I am always looking for constant feedback.
                I am always looking for constant feedback in the environment I am in.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h2 style="color: #0060df;"><span>Technologies and Tools</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-justify text-style">
                Using a combination of cutting-edge technologies and reliable open source software, I build user-focused, high-performance apis and websites.
            </p>
        </div>
    </div>
    <div class="row animate__animated animate__fadeInUp" style="justify-content: space-around;">
        <div *ngFor="let tool of cards" class="card mb-1" [ngStyle]="{'max-width': tool.maxWidth} " style="max-width: 220px;">
            <div class="row g-0">
              <div class="col-md-3 mt-1">
                <img alt="" [src]="tool.source" style="width: 3rem;">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                    <p class="card-text">{{tool.text}}</p>
                </div>
              </div>
            </div>
        </div>
        <div *ngFor="let tool of cards2" class="card mb-1" [ngStyle]="{'max-width': tool.maxWidth} " style="max-width: 220px;">
            <div class="row g-0">
              <div class="col-md-3 mt-1">
                <img alt="" [src]="tool.source" style="width: 3rem;">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                    <p class="card-text">{{tool.text}}</p>
                </div>
              </div>
            </div>
        </div>
        <div *ngFor="let tool of cards3" class="card mb-1" [ngStyle]="{'max-width': tool.maxWidth} " style="max-width: 220px;">
            <div class="row g-0">
              <div class="col-md-3 mt-1">
                <img alt="" [src]="tool.source" style="width: 3rem;">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                    <p class="card-text">{{tool.text}}</p>
                </div>
              </div>
            </div>
        </div>
        <div *ngFor="let tool of cards4" class="card mb-1" [ngStyle]="{'max-width': tool.maxWidth} " style="max-width: 220px;">
            <div class="row g-0">
              <div class="col-md-3" [ngClass]="{'mt-3': tool.mtSpecific == '3', 'mt-1' : tool.mtSpecific == '1', 'mt-2' : tool.mtSpecific == '2'}">
                <img alt="" [src]="tool.source"  [ngStyle]="{'width': tool.sizeIcon }">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                    <p class="card-text">{{tool.text}}</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">        
        <h2 style="color: #0060df;"><span>Certifications</span></h2>
        <div class="text-center">
            <a href="https://aws.amazon.com/verification" target="_blank">
                <img [src]="awscert" class="rounded" style="max-width: 150px;">
            </a>
            <span>ID: TYPBRLJC0NQ11W5H</span>
        </div>
    </div>
</div>